doctype html
html
  head
    title Books
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul
        li
          a(href='/all_books') Books
        li
          a(href='/all_patrons') Patrons
        li
          a(href='/all_loans') Loans
    h1 Books
    p
      a.button(href='new_book.html') Create New Book
    p
      | Filters 
      a(href='all_books') All
      a(href='overdue_books.html') Overdue
      a(href='checked_books.html') Checked Out
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year Released
      tbody
        each book in books
          tr
          td
            a(href=`book_detail/${book.dataValues.id}`) #{book.dataValues.title}
          td #{book.dataValues.author}
          td #{book.dataValues.genre}
          td #{book.dataValues.first_published}