doctype html
html
  head
    title Patrons
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include nav.pug
    h1 Patrons
    p
      a.button(href='/new_patron') Create New Patron
    table
      thead
        tr
          th Name 
          th Address
          th Email
          th Library ID
          th Zip
      tbody
        each patron in patrons
          tr
            td
              a(href=`/patron_detail/${patron.dataValues.id}`) #{patron.dataValues.first_name} #{patron.dataValues.last_name}
            td #{patron.dataValues.address}
            td #{patron.dataValues.email}
            td #{patron.dataValues.library_id}
            td #{patron.dataValues.zip_code}
          
