doctype html
html
  head
    title Books
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include nav.pug
    include includes/book_filters.pug
    form(action='/search/books' method='POST')
      label Search
      input(type='text' name='searchValue')
      input(type='submit', value='Search Now')
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year Released
      tbody
        each book in bookLimit
          tr
          td
            a(href=`/book_detail/${book.dataValues.id}`) #{book.dataValues.title}
          td #{book.dataValues.author}
          td #{book.dataValues.genre}
          td #{book.dataValues.first_published}
    .paginationContainer
      if( bookCount > 5 )
        ul
          - for (var index = 1; index <= paginationCount; index++)
            li
              a(href=`/all_books/${index}` title="#{index}") #{index}