doctype html
html
  head
    title Loans
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    include nav.pug
    h1 Loans
    p
      a.button(href='/new_loan') Create New Loan
    include includes/loan_filters.pug
    table
      thead
        tr
          th Book
          th Patron 
          th Loaned on
          th Return by 
          th Returned on
          th Action
      tbody
        each loan in loans
          tr
            td
              a(href='book_detail.html') #{loan.dataValues.book.dataValues.title}
            td
              a(href='patron_detail.html') #{loan.dataValues.patron.dataValues.first_name} #{loan.dataValues.patron.dataValues.last_name}
            td #{loan.dataValues.loaned_on}
            td #{loan.dataValues.return_by}
            td #{loan.dataValues.returned_on}
            td
              if(!loan.dataValues.returned_on)
                a.button(href=`/return_book/${loan.dataValues.id}`) Return Book
          
