doctype html
html
  head
    title #{book[0].dataValues.title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include nav.pug
    h1 Book: #{book[0].dataValues.title}
    form(action='/create_book' method='POST')
      p
        label(for='title') Title
        input#title(value=`${book[0].dataValues.title}`, type='text')
      p
        label(for='author') Author
        input#author(value=`${book[0].dataValues.author}`, type='text')
      p
        label(for='genre') Genre
        input#genre(value=`${book[0].dataValues.genre}`, type='text')
      p
        label(for='first_published') First Published
        input#first_published(value=`${book[0].dataValues.first_published}`, type='text')
      p
        input(value='Update', type='submit')
    h2 Loan History
    table
      thead
        tr
          th Book
          th Patron 
          th Loaned on
          th Return by 
          th Returned on
          th Action
      tbody
        each loan in loans
          tr
            td
              a(href='book_detail.html') #{book[0].dataValues.title}
            td
              a(href=`/patron_detail/${loan.dataValues.patron.dataValues.id}`) #{loan.dataValues.patron.dataValues.first_name} #{loan.dataValues.patron.dataValues.last_name}
            td #{loan.dataValues.loaned_on}
            td #{loan.dataValues.return_by}
            td #{loan.dataValues.returned_on}
            td
              if(!loan.dataValues.returned_on)
                a.button(href='/return_book') Return Book
