doctype html
html
  head
    title Overdue Books
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    include nav.pug
    include includes/book_filters.pug
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year Released
      tbody
        each book in books
          tr
            td
              a(href=`book_detail/${book.dataValues.id}`) #{book.dataValues.title}
            td #{book.dataValues.author}
            td #{book.dataValues.genre}
            td #{book.dataValues.first_published}
        
